.pizzalated {
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 4rem;

	section {
		display: flex;
		height: 60vh;
		align-items: center;
		box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
			rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
		margin-top: 1.5rem;

		.arrow_left,
		.arrow_right {
			font-size: 4rem;
			margin: 0 30px;
			align-self: center;
			opacity: 0.7;
		}
		.pizza_wrapper {
			overflow-x: hidden;
		}
	}
	footer {
		margin: 0 auto 5px auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		p {
			margin: 0 10px;
		}
	}
}

@media (hover: hover) and (pointer: fine) {
	.pizzalated {
		section {
			.arrow_left:hover,
			.arrow_right:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.pizzalated {
		section {
			.arrow_left,
			.arrow_right {
				margin: 0 10px;
				font-size: 5rem;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.pizzalated {
		section {
			margin-top: 4rem;
		}
		footer {
			bottom: 2rem;
		}
	}
}
@media screen and (max-width: 900px) {
	.pizzalated {
		section {
			height: 70vh;
			margin: 2rem 0 0 0;
			padding: 1rem;
			align-items: flex-start;
			overflow-y: scroll;
			.arrow_left,
			.arrow_right {
				display: none;
			}
		}
		footer {
			bottom: 2rem;
		}
	}
}

@media screen and (max-width: 600px) {
	.pizzalated {
		section {
			margin: 1rem 0 0 0;
			height: 70vh;
			padding: 0;
			.pizza_wrapper {
				height: 100%;
			}
		}
		footer {
			font-size: 0.8rem;
		}
	}
}
