.main_content {
	height: 100%;
	padding: 1rem 0;
	.content {
		display: inline-flex;
		.card {
			border: solid gray 1px;
			border-radius: 30px;
			overflow: hidden;
			width: 15rem;
			box-shadow: rgba(167, 147, 159, 0.4) 5px 5px;
			margin-right: 2.5rem;
			img {
				width: 100%;
				height: 12rem;
			}
			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 20px;
				padding: 0 20px;
				h1 {
					font-size: 1.2rem;
				}
				p {
					font-size: 1.5rem;
					color: red;
					font-weight: bolder;
				}
			}
			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 10px;
				div {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 10px 0;
					label {
						margin-right: 20px;
					}
					.btn {
						font-size: 2.5rem;
						width: 10%;
						display: contents;
						height: 100%;
					}
					input {
						border: solid black 1px;
						font-size: 1.3rem;
						width: 40%;
						text-align: center;
						padding: 5px 0;
						margin: 0 10px;
					}
				}
				.btn_submit {
					font-size: 1.1rem;
					padding: 0.5rem;
					border-radius: 20px;
					border: rgb(166, 235, 63) solid 3px;
					background-color: rgb(166, 235, 63);
					font-weight: bold;
				}
			}
		}
	}
}

@media (hover: hover) and (pointer: fine) {
	.content {
		.card {
			form {
				button:hover {
					cursor: pointer;
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.main_content {
		overflow-x: scroll;
		padding: 0;
		.content {
			.card {
				margin: 0 1.5rem 1.5rem 0;
				.info {
					margin-top: 5px;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.main_content {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
		.content {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-evenly;
			.card {
				margin: 2%;
			}
		}
	}
}
@media screen and (max-width: 550px) {
	.main_content {
		.content {
			.card {
				width: 45vw;
				img {
					width: 100%;
					height: 10rem;
				}
				.info {
					margin: 0;
					padding: 0 5%;
					p {
						font-size: 1.5rem;
						color: red;
						font-weight: bolder;
					}
				}
				form {
					margin: 0;
					div {
						margin: 0;
						label {
							margin-right: 20px;
						}
						.btn {
							font-size: 2rem;
						}
						input {
							font-size: 1.1rem;
							width: 30%;
							text-align: center;
							padding: 5px 0;
							margin: 0 20px;
						}
					}
					.btn_submit {
						width: 100%;
						font-size: 1rem;
						border-radius: 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.main_content {
		.content {
			.card {
				img {
					height: 8rem;
				}
				.info {
					h1 {
						font-size: 1rem;
					}
					p {
						font-size: 1.2rem;
					}
				}
				form {
					div {
						input {
							font-size: 1rem;
						}
					}
					.btn_submit {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.main_content {
		.content {
			.card {
				.info {
					h1 {
						font-size: 0.9rem;
					}
					p {
						font-size: 1rem;
					}
				}
				form {
					div {
						label {
							margin-right: 15px;
						}
						input {
							margin: 0 10px;
						}
					}
				}
			}
		}
	}
}
