.pizza_nav {
	padding: 0 2rem;
	/* font-size: 1.5rem; */

	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	.logo {
		font-size: 2rem;
	}
	.input_div {
		border: solid black 2px;
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 30px;
		.search {
			color: blue;
			position: relative;
		}
		input {
			font-size: 1.5rem;
			padding: 5px 10px;
			border-radius: 30px;
			border: none;
			width: 15rem;
		}
		input:focus {
			outline: none;
		}

		.clear {
			color: red;
			position: absolute;
			right: 10px;
		}
	}
	.icon {
		font-size: 2rem;
	}
	.cart_div {
		display: flex;
		align-items: center;
		position: relative;
		.cart {
			color: rgb(20, 205, 20);
		}
		span {
			position: absolute;
			font-size: 1.1rem;
			border: solid red 2px;
			background-color: white;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			left: 20px;
			top: 15px;
			color: red;
			font-weight: 600;
		}
	}
}
@media (hover: hover) and (pointer: fine) {
	.pizza_nav {
		.input_div {
			.icon:hover {
				cursor: pointer;
				color: black;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.pizza_nav {
		position: relative;
		padding: 0 2rem 2.5rem 1rem;
		.logo {
			font-size: 1.5rem;
		}
		.input_div {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			.icon {
				font-size: 1.5rem;
			}
			.search {
				left: 0.5rem;
			}
			input {
				font-size: 1.2rem;
			}
		}
	}
}
