.projectCarousel {
	border-radius: 20px;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	.top {
		display: flex;
		align-items: center;
		justify-content: center;
		.arrow {
			font-size: 2.5rem;

			color: rgb(150, 149, 149);
			width: 7%;
		}
		.container {
			width: 86%;
			height: 12rem;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			div {
				width: 25%;
				height: 50%;

				img {
					box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
					width: 100%;
					height: 100%;
					transition: opacity 1s ease-in-out;
					opacity: 1;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=1);
				}
			}
			.selected {
				display: flex;
				width: 40%;
				height: 75%;
			}
			.hidden {
				display: none;
			}
			.opaque {
				opacity: 0.7;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0.7);
			}
		}
	}
	.details {
		padding: 1rem 2rem 1rem 10%;
		div {
			display: flex;
			align-items: center;

			h2 {
				margin-right: 3rem;
			}

			input {
				border: solid 1px rgb(3, 246, 3);
				accent-color: rgb(3, 246, 3);
			}
			input:checked {
				border: solid 1px rgb(3, 246, 3);
			}
			a {
				text-decoration: none;
			}
		}
	}
}
@media (hover: hover) and (pointer: fine) {
	.arrow:hover {
		cursor: pointer;
	}
}
@media screen and (max-width: 800px) {
	.projectCarousel {
		margin: 2rem 1rem;
		.top {
			.container {
				position: relative;
				.leftImage {
					position: absolute;
					z-index: 5;
					left: 5%;
				}
				.middleImage {
					position: relative;
					z-index: 10;
					width: 45%;
				}
				.rightImage {
					right: 5%;
					position: absolute;
					z-index: 5;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.projectCarousel {
		.top {
			.container {
				.middleImage {
					width: 55%;
				}
			}
		}
	}
}
