.randomizer {
	background-color: #ffaebc;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0;
	h1 {
		font-size: 3rem;
		margin-bottom: 20px;
	}
	.range {
		display: flex;
		justify-content: space-around;
		width: 40%;
		margin-bottom: 20px;
		div {
			display: flex;
			align-items: center;

			label {
				font-size: 2rem;
				margin-right: 20px;
			}
			input {
				font-size: 2rem;
				width: 7rem;
				padding: 5px 10px;
				text-align: center;
			}
		}
	}
	.button {
		width: 40%;
		display: flex;
		justify-content: space-around;
		button {
			font-size: 2rem;
			margin: 20px;
			padding: 10px 20px;
			border-radius: 10px;
		}
		.single {
			background-color: #35e3de;
		}
		.reset {
			background-color: #f03655;
		}
		.automatic {
			background-color: #4df981;
		}
	}
	.bottom {
		display: flex;

		align-items: center;
		justify-content: center;
		div {
			border: solid #fbe7c6 1px;
			border-radius: 50%;
			margin: 20px;
			font-size: 6.5rem;
			width: 10rem;
			height: 10rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fbe7c6;
		}
	}
}
@media (hover: hover) and (pointer: fine) {
	.randomizer {
		.button {
			button:hover {
				background-color: lightgray;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.randomizer {
		.range {
			width: 60%;
		}
		.bottom {
			margin: 20px 0;
			div {
				font-size: 5rem;
				width: 8rem;
				height: 8rem;
				margin: 15px;
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	.randomizer {
		.bottom {
			flex-wrap: wrap;
			width: 60%;
		}
	}
}
@media screen and (max-width: 900px) {
	.randomizer {
		.bottom {
			width: 70%;
		}
	}
}
@media screen and (max-width: 800px) {
	.randomizer {
		.range {
			width: 70%;
		}
		.bottom {
			width: 80%;
		}
	}
}
@media screen and (max-width: 700px) {
	.randomizer {
		.range {
			width: 80%;
		}
		.bottom {
			width: 100%;
		}
	}
}
@media screen and (max-width: 600px) {
	.randomizer {
		padding: 3rem 0;
		.range {
			width: 100%;
		}
		.button {
			button {
				font-size: 1.8rem;
				margin: 20px;
				padding: 5px 10px;
			}
		}

		.bottom {
			div {
				font-size: 4.5rem;
				width: 7rem;
				height: 7rem;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.randomizer {
		.range {
			div {
				label {
					font-size: 1.5rem;
				}
				input {
					font-size: 1.5rem;
					width: 5rem;
					padding: 3px 10px;
					text-align: center;
				}
			}
		}
		.button {
			button {
				font-size: 1.1rem;
				padding: 5px 10px;
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.randomizer {
		.bottom {
			margin: 0;
			div {
				font-size: 4rem;
				width: 6rem;
				height: 6rem;
			}
		}
	}
}
