.backdrop {
	background-color: gray;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.75;
}
// fixed z-20 top-0 left-0 w-full h-screen bg-gray-300  bg-opacity-75

.overlay {
	background-color: white;
	position: fixed;
	z-index: 30;
	height: 5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 60%;
}

// 'fixed top-36 w-10/12 h-3/6 left-1/2 z-30  bg-white -translate-x-2/4 shadow-md  text-center max-w-2xl'
