.simon {
	background-color: #011f3f;
	height: 100vh;
	display: flex;
	// justify-content: space-between;
	color: #fff;
	.first,
	.last {
		width: 10%;
		color: #fff;
		writing-mode: vertical-rl;
		text-orientation: upright;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		letter-spacing: 2rem;
		font-family: "Press Start 2P", cursive;
	}
	.playArea {
		margin-top: 4rem;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "Press Start 2P", cursive;
		.start {
			background-color: #008000;
			width: 60%;
			font-size: 2rem;
			padding: 5px 30px;
			font-family: "Press Start 2P", cursive;
			border-radius: 5px;
		}
		.start:hover {
			cursor: pointer;
		}
		.wrapper {
			margin-top: 1rem;
			width: 100%;
			display: flex;
			height: 55vh;
			.info {
				width: 40%;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				align-items: center;
				div {
					height: 100%;
					margin: 2rem;
					p {
						font-size: 1.5rem;
					}
					ul {
						li {
							font-size: 1.1rem;
							margin: 1.5rem 0;
						}
					}
				}
				h1 {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					width: 40%;
					font-size: 2.5rem;
					line-height: 5rem;
					margin: 2.5rem;
				}
				.timer {
					font-size: 60px;
					color: red;
				}
			}
			.playDiv {
				width: 60%;
				height: 100%;
				padding: 1rem;
				display: grid;
				grid-template-columns: auto auto;
				gap: 2rem;
				div {
					border: solid black 10px;

					// margin: 10px 10px;
					border-radius: 30px;
					cursor: pointer;
				}
				.item1 {
					background-color: #008000;
					grid-column: 1 / span 1;
					grid-row: 1 / span 1;
				}
				.item2 {
					background-color: #ff0000;
					grid-column: 2 / span 1;
					grid-row: 1 / span 1;
				}
				.item3 {
					background-color: #ffff00;
					grid-column: 1 / span 1;
					grid-row: 2 / span 1;
				}
				.item4 {
					background-color: #0000ff;
					grid-column: 2 / span 1;
					grid-row: 2 / span 1;
				}
				.pressed {
					box-shadow: 0 0 30px white;
					background-color: grey;
				}
			}
			.playDiv.playerTurn {
				background-color: rgb(92, 85, 85);
			}
			.playDiv.computerTurn {
				background-color: rgba(136, 130, 130, 0.686);
			}
		}
	}
}

.wrong {
	background-color: red;
}

.notVisible {
	visibility: hidden;
}

@media screen and (max-width: 1200px) {
	.simon {
		.playArea {
			.start {
				width: 80%;
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	.simon {
		.playArea {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 850px) {
	.simon {
		flex-direction: column;
		padding-top: 4rem;
		.first,
		.last {
			width: 100%;
			writing-mode: horizontal-tb;
			font-size: 1.2rem;
		}
		.playArea {
			margin: 0;
			padding: 30px 0;
			width: 100%;
			.wrapper {
				.info {
					margin-left: 1rem;
					div {
						margin-left: 1rem;
						p {
							font-size: 1.2rem;
						}
						ul {
							li {
								font-size: 1rem;
								margin: 1.5rem 0;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.simon {
		.playArea {
			.start {
				font-size: 1.7rem;
			}
		}
	}
}
@media screen and (max-width: 650px) {
	.simon {
		.first,
		.last {
			font-size: 0.7rem;
		}
		.playArea {
			padding: 20px 0;
			.start {
				font-size: 1.2rem;
			}
			.wrapper {
				flex-direction: column;
				height: 60vh;
				.info {
					width: 100%;
					flex-direction: row;
					margin: 10px 0;
					// height: 20%;

					div {
						// height: max-content;
						margin: 0 2rem;

						// text-align: center;
						p {
							font-size: 1rem;
						}
						ul {
							li {
								font-size: 0.7rem;
								margin: 10px;
							}
						}
					}
					h1 {
						display: flex;
						flex-wrap: nowrap;
						width: 70%;
						font-size: 2rem;
						line-height: normal;
						margin: 0;
						span {
							margin: 0;
							margin-left: 50px;
						}
					}
					.timer {
						text-align: center;
						width: 30%;
						font-size: 40px;
						color: red;
					}
				}
				.playDiv {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.simon {
		.playArea {
			.start {
				font-size: 1.2rem;
			}
			.wrapper {
				.info {
					h1 {
						font-size: 1.8rem;
					}
					.timer {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.simon {
		.playArea {
			.start {
				font-size: 1rem;
			}
		}
	}
}
