.content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	.listEmpty {
		margin-top: 3rem;
		font-size: 36px;
	}
	.wrapper {
		width: 50%;
		margin-top: 20px;

		li {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: dashed #bebcba 3px;
			section {
				display: flex;
				font-size: 2rem;
				margin: 20px 0 10px 0;
				padding: 5px 20px 5px 30px;
				input {
					width: 20px;
					height: auto;
					margin-right: 30px;
				}

				p.strike {
					text-decoration: line-through;
				}
			}
			div {
				display: flex;
				font-size: 32px;
				margin: 20px 0 10px 0;
				padding: 5px 20px 5px 30px;
				.FA_edit {
					margin: 0 10px;
					color: yellow;
				}
				.FA_delete {
					color: red;
				}
				.FA_edit:hover,
				.FA_delete:hover {
					cursor: pointer;
					color: black;
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.content .wrapper {
		width: 70%;
	}
}
@media screen and (max-width: 900px) {
	.content .wrapper {
		width: 80%;
	}
}
@media screen and (max-width: 800px) {
	.content .wrapper {
		width: 90%;
	}
}

@media screen and (max-width: 500px) {
	.content {
		.wrapper {
			li {
				section {
					padding-left: 0;
					font-size: 1.8rem;
				}
				div {
					font-size: 1.8rem;
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.content {
		.wrapper {
			li {
				div {
					padding: 1px;
				}
			}
		}
	}
}
