/* *{
  #105799
  #867308
  #265670
  #6C6967
  #7F7B77
  #bebcba;
} */

.todo {
	padding-top: 4rem;
	background-color: #105799;
	height: 100vh;
    .header {
        display: flex;
        justify-content: center;
        form {
            border-radius: 10px;
            display: flex;
            font-size: 30px;
            align-items: center;
            // background-color: rgb(218, 210, 210);
            .form_left {
                
                input {
                    background-color: rgb(218, 210, 210);
                    width: 250px;
                    font-size: 2rem;
                    font-weight: 300;
                    padding: 0 20px;
                    border-radius: 10px;
                    border: none;
                    
                }
                input:focus {
                    outline: none;
                }
            }
            .form_right {
                
                position: relative;
                display: flex;
                align-items: center;
                .icon{
                    margin: 0 10px;
                    border-radius: 50%;
                }
                .icon:hover{
                    cursor: pointer;
                }
                .delete_icon {
                    position: absolute;
                    left: -50px;
                    color: red;
                }
                .plus_circle {
                    border-radius: 50%;
                    color: rgb(22, 165, 22);
                    background-color: black;
                }
                .editing_icon {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .cancel{
                        background-color: yellow;
                        
                        border: solid yellow 1px;
                    }
                    .circle_check {
	                    color: rgb(5, 165, 5);
                        }
                }
            }
        }
    }
    
}
