.about_left {
  width: 40%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
}
.about_left img {
  border: solid rgb(91, 89, 89) 1px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  align-self: flex-end;
  top: 50px;
  right: -75px;
}
.about_left nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
}
.about_left nav div h1 {
  font-size: 10rem;
  margin-bottom: 5rem;
}
.about_left nav ul {
  border: solid black 1px;
  font-size: 1.3rem;
  padding: 0;
  font-weight: 600;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1150px) {
  .about_left nav div h1 {
    font-size: 8rem;
    margin-bottom: 8rem;
  }
  .about_left nav ul {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .about_left {
    border-bottom: solid black 2px;
    width: 100%;
    position: relative;
    min-height: 14rem;
  }
  .about_left nav {
    padding-top: 2rem;
    height: 30vh;
  }
  .about_left nav div h1 {
    margin: 0;
    margin-bottom: 0;
    font-size: 8rem;
  }
  .about_left nav ul {
    border: none;
    font-size: 1.5rem;
    margin: 0;
  }
  .about_left img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .about_left {
    min-height: 12rem;
  }
  .about_left nav {
    padding-top: 0;
  }
  .about_left nav div h1 {
    font-size: 6rem;
  }
  .about_left nav ul {
    font-size: 1.3rem;
    font-weight: normal;
  }
}
@media screen and (max-width: 500px) {
  .about_left nav {
    padding-top: 1rem;
    width: 100%;
    height: 25vh;
  }
}
@media screen and (max-width: 400px) {
  .about_left nav ul {
    font-size: 1.1rem;
  }
}
