.about_right {
  padding: 2rem 3rem 2rem 5rem;
}
.about_right section {
  margin-bottom: 40px;
}
.about_right section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.about_right section div p {
  font-size: 20px;
  margin-bottom: 20px;
}
.about_right section .section {
  margin-bottom: 10px;
}
.about_right section .section p {
  margin: 0;
  margin-bottom: 10px;
}
.about_right section .section .picture {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.about_right section .section .picture .card {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.about_right section .section .picture .card img {
  width: 5rem;
  height: 4rem;
  margin-bottom: 10px;
}
.about_right section .section .picture .card p {
  color: black;
  transition: transform 0.5s;
  visibility: hidden;
}
.about_right section .section .picture .card img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 5px 1px #888888;
}
.about_right section .section .picture .card img:hover + p {
  visibility: visible;
}

@media screen and (max-width: 1100px) {
  .about_right {
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .about_right {
    padding: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .about_right {
    padding: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .about_right section .section .picture .card {
    width: 5rem;
    height: 5rem;
    margin-right: 10px;
  }
  .about_right section .section .picture .card img {
    width: 4rem;
    height: 3.5rem;
  }
}
@media screen and (max-width: 500px) {
  .about_right {
    padding: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  .about_right {
    padding: 1.5rem;
  }
  .about_right section h1 {
    font-size: 1.8rem;
  }
  .about_right section div h2 {
    font-size: 1.3rem;
  }
  .about_right section div p {
    font-size: 1.1rem;
  }
  .about_right section .section .picture .card {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .about_right section .section .picture {
    padding-left: 10px;
  }
  .about_right section .section .picture .card {
    width: 4rem;
    height: 4.2rem;
  }
  .about_right section .section .picture .card img {
    width: 4rem;
    height: 3.5rem;
  }
  .about_right section .section .picture .card p {
    font-size: 1rem;
  }
}
