.wrapper {
  display: flex;
  /* min-height: initial; */
}

.left {
  /* border: solid blue; */
  width: 40%;
  /* min-height: inherit; */
  background-image: url("https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 8em; */
}

.right {
  width: 60%;
  /* padding: 8em; */
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
