.footer {
  background-color: #292929;
  color: red;
  position: fixed;
  z-index: 50;
  bottom: 0;
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
