.home {
  background-color: #292929;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.home .home_responsive h1 {
  font-size: 10rem;
  line-height: 160px;
  margin-bottom: 5rem;
}
.home .home_responsive ul {
  font-size: 1.5rem;
  border: solid red 1px;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1650px) {
  .home .home_responsive {
    width: 50%;
  }
  .home .home_responsive div {
    padding-bottom: 0;
  }
  .home .home_responsive h1 {
    font-size: 10rem;
    line-height: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .home .home_responsive {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .home .home_responsive div {
    padding-bottom: 2rem;
  }
  .home .home_responsive h1 {
    font-size: 9rem;
    line-height: 150px;
    margin-bottom: 4rem;
  }
  .home .home_responsive ul {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .home .home_responsive div {
    padding-bottom: 3rem;
  }
  .home .home_responsive h1 {
    font-size: 8rem;
    line-height: 130px;
  }
}
@media screen and (max-width: 550px) {
  .home .home_responsive div {
    padding-bottom: 3rem;
  }
  .home .home_responsive h1 {
    font-size: 7rem;
    line-height: 120px;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .home .home_responsive {
    width: 90%;
  }
  .home .home_responsive div {
    padding-bottom: 4rem;
  }
  .home .home_responsive h1 {
    font-size: 6.5rem;
    line-height: 110px;
  }
}
@media screen and (max-width: 450px) {
  .home .home_responsive div {
    padding-bottom: 4rem;
  }
  .home .home_responsive h1 {
    font-size: 6rem;
    line-height: 100px;
  }
  .home .home_responsive li {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  .home .home_responsive {
    width: 100%;
  }
  .home .home_responsive div {
    padding-bottom: 5rem;
  }
  .home .home_responsive h1 {
    font-size: 5rem;
    line-height: 90px;
  }
}
