.main {
  height: 100vh;
  position: relative;
}
.main .nav_container {
  border-bottom: solid black 2px;
  width: 100%;
  position: absolute;
  top: 0;
}
.main .nav_container .mini_app_nav {
  width: 100%;
}
.main .nav_container .mini_app_nav .head {
  display: none;
}
.main .nav_container .mini_app_nav ul {
  font-weight: 600;
}
.main .nav_container .mini_app_nav ul a {
  color: red;
  font-size: 1.3rem;
}
.main .nav_container .miniApp_burger {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
}
.main .output {
  align-content: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .main .nav_container .mini_app_nav {
    align-items: flex-start;
  }
}
@media screen and (max-width: 500px) {
  .main .nav_container .mini_app_nav ul li a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  .main .nav_container .mini_app_nav ul li {
    padding-right: 5px;
  }
  .main .nav_container .miniApp_burger {
    right: 1rem;
  }
}
