.nav {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav .head {
  font-family: var(--satisfy);
}
.nav .head h1 {
  word-wrap: normal;
  text-align: center;
}
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.nav ul li {
  padding: 10px 15px;
}
.nav ul li a {
  text-decoration: none;
}
.nav ul li a:hover,
.nav ul li a.active {
  text-decoration: underline;
}
