.right .container {
  border-radius: 20px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.right .container .top {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .container .top .arrow {
  font-size: 2.5rem;
  margin: 5px;
  color: rgb(150, 149, 149);
  width: 5%;
}
.right .container .top img {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.right .container .top .leftSide {
  height: 80%;
  width: 25%;
}
.right .container .top .leftSide img {
  width: 100%;
  height: auto;
}
.right .container .top .middle {
  margin: 10px;
  width: 35%;
  height: 100%;
}
.right .container .top .middle img {
  width: 100%;
  height: auto;
}
.right .container .top .rightSide {
  height: 80%;
  width: 25%;
}
.right .container .top .rightSide img {
  width: 100%;
  height: auto;
}
.right .container .details {
  padding: 1rem 2rem 1rem 10%;
}
.right .container .details div {
  display: flex;
  align-items: center;
}
.right .container .details div h2 {
  margin-right: 3rem;
}
.right .container .details div input {
  border: solid 1px rgb(3, 246, 3);
  accent-color: rgb(3, 246, 3);
}
.right .container .details div input:checked {
  border: solid 1px rgb(3, 246, 3);
}
.right .container .details div a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .right {
    margin: 5rem 0 4rem 0;
  }
}
@media screen and (max-width: 800px) {
  .right .container {
    margin: 2rem 1rem;
  }
  .right .container .top .arrow {
    font-size: 6rem;
  }
  .right .container .top div {
    position: relative;
    z-index: 10;
  }
  .right .container .top .leftSide {
    left: 5%;
    z-index: 5;
  }
  .right .container .top .middle {
    width: 45%;
  }
  .right .container .top .rightSide {
    right: 5%;
    z-index: 5;
  }
}
@media screen and (max-width: 600px) {
  .right .container .top .middle {
    width: 55%;
  }
}
@media screen and (max-width: 500px) {
  .right .container .top .middle {
    width: 75%;
  }
}
