.project_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
}
.project_left nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
}
.project_left nav div h1 {
  font-size: 10rem;
  margin-bottom: 5rem;
}
.project_left nav ul {
  border: solid red 1px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1300px) {
  .project_left nav div h1 {
    font-size: 9rem;
  }
}
@media screen and (max-width: 1200px) {
  .project_left nav div h1 {
    font-size: 8rem;
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 1150px) {
  .project_left nav ul {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .project_left {
    border-bottom: solid black 2px;
    width: 100%;
    position: relative;
    min-height: 14rem;
  }
  .project_left nav {
    padding-top: 2rem;
    height: 30vh;
  }
  .project_left nav div h1 {
    margin: 0;
    margin-bottom: 0;
    font-size: 8rem;
  }
  .project_left nav ul {
    border: none;
    font-size: 1.5rem;
    margin: 0;
  }
  .project_left img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .project_left {
    min-height: 12rem;
  }
  .project_left nav {
    padding-top: 0;
  }
  .project_left nav div h1 {
    font-size: 6rem;
  }
  .project_left nav ul {
    font-size: 1.3rem;
    font-weight: normal;
  }
}
@media screen and (max-width: 500px) {
  .project_left nav {
    padding-top: 1rem;
    width: 100%;
    height: 25vh;
  }
}
@media screen and (max-width: 400px) {
  .project_left nav ul {
    font-size: 1.1rem;
  }
}
