.slider_outer {
  height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  z-index: 10;
}
.slider_outer .slider_arrow {
  border: solid black 1px;
  border-radius: 50%;
  font-size: 3rem;
  margin: 0 1.5rem;
  opacity: 0.6;
  cursor: pointer;
}
.slider_outer .slider_div {
  height: 15vh;
  width: 90%;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 1s;
}
.slider_outer .slider_div:hover {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .slider_outer {
    top: 5rem;
    right: 0;
    flex-direction: column;
    width: max-content;
    height: 0;
    transition: height 0.5s ease-in;
    margin-right: 20px;
  }
  .slider_outer .slider_arrow {
    display: none;
  }
  .slider_outer .slider_div {
    width: 100%;
    height: 0;
    transition: height 0.5s ease-in;
  }
  .slider_outer.open {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 80vh;
  }
  .slider_outer.open .slider_div.open {
    height: 100%;
    opacity: 1;
  }
}
