.dice {
  background-color: #393e46;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  color: #48a388;
  font-family: "Lobster", cursive;
}
.dice .title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.dice .play_area {
  width: 50%;
  position: relative;
  height: 60vh;
}
.dice .play_area div {
  display: flex;
  justify-content: space-between;
}
.dice .play_area div .left,
.dice .play_area div .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.dice .play_area div .left .info,
.dice .play_area div .right .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.dice .play_area div .left .info h2,
.dice .play_area div .right .info h2 {
  margin-bottom: 20px;
}
.dice .play_area div .left .info p,
.dice .play_area div .right .info p {
  margin-bottom: 20px;
}
.dice .play_area div .left .image img,
.dice .play_area div .right .image img {
  width: 13rem;
  height: 13rem;
}
.dice .play_area div .left .image + p,
.dice .play_area div .right .image + p {
  color: goldenrod;
  font-size: 2rem;
  position: relative;
}
.dice .play_area .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.dice .play_area .options button {
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Lobster", cursive;
  color: #fff;
}
.dice .play_area .options button:first-child {
  background-color: red;
}
.dice .play_area .options button:last-child {
  margin-top: 50px;
  background-color: #48a388;
}

@media (hover: hover) and (pointer: fine) {
  .dice .play_area .options button:hover {
    cursor: pointer;
    background-color: lightgray;
    color: black;
  }
}
@media screen and (max-width: 1200px) {
  .dice .play_area {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  .dice .play_area {
    width: 75%;
  }
}
@media screen and (max-width: 800px) {
  .dice .play_area {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .dice .play_area {
    height: 70vh;
  }
  .dice .play_area div .left .image img,
  .dice .play_area div .right .image img {
    width: 12rem;
    height: 12rem;
  }
  .dice .play_area .options {
    position: static;
    flex-direction: row;
    height: max-content;
    justify-content: space-evenly;
    margin-top: 3rem;
  }
  .dice .play_area .options button:last-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .dice .play_area {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .dice .play_area {
    margin-top: 2rem;
    width: 80%;
    height: max-content;
  }
  .dice .play_area div {
    flex-direction: column;
  }
  .dice .play_area div .left,
  .dice .play_area div .right {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
  }
  .dice .play_area div .left .image img,
  .dice .play_area div .right .image img {
    width: 10rem;
    height: 10rem;
  }
  .dice .play_area div .left .image + p,
  .dice .play_area div .right .image + p {
    position: absolute;
    left: 2rem;
    bottom: -1rem;
  }
  .dice .play_area .options {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .dice .play_area {
    width: 90%;
  }
  .dice .play_area div .left .info h2,
  .dice .play_area div .left .info p,
  .dice .play_area div .right .info h2,
  .dice .play_area div .right .info p {
    font-size: 2rem;
  }
}
