.num {
  background-color: #faebd7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
}
.num h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.num form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.num form input {
  font-size: 2rem;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 20px;
  color: red;
  text-align: right;
}
.num form button {
  padding: 3px 10px;
  margin: auto;
  font-size: 1.5rem;
  border-radius: 10px;
  border: solid salmon 1px;
  background-color: salmon;
}
.num form button:hover {
  cursor: pointer;
  color: #fff;
}
.num div {
  height: 50vh;
  width: 80%;
  padding: 1rem 2rem;
}
.num div p {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .num div {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .num h1 {
    font-size: 2rem;
  }
  .num form input {
    font-size: 1.5rem;
  }
}
