.randomizer {
  background-color: #ffaebc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.randomizer h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.randomizer .range {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 20px;
}
.randomizer .range div {
  display: flex;
  align-items: center;
}
.randomizer .range div label {
  font-size: 2rem;
  margin-right: 20px;
}
.randomizer .range div input {
  font-size: 2rem;
  width: 7rem;
  padding: 5px 10px;
  text-align: center;
}
.randomizer .button {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.randomizer .button button {
  font-size: 2rem;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}
.randomizer .button .single {
  background-color: #35e3de;
}
.randomizer .button .reset {
  background-color: #f03655;
}
.randomizer .button .automatic {
  background-color: #4df981;
}
.randomizer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.randomizer .bottom div {
  border: solid #fbe7c6 1px;
  border-radius: 50%;
  margin: 20px;
  font-size: 8rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbe7c6;
}

@media (hover: hover) and (pointer: fine) {
  .randomizer .button button:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}
@media screen and (max-width: 1200px) {
  .randomizer .range {
    width: 60%;
  }
  .randomizer .bottom {
    margin: 20px 0;
  }
  .randomizer .bottom div {
    font-size: 6rem;
    width: 8rem;
    height: 8rem;
    margin: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .randomizer .bottom {
    flex-wrap: wrap;
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .randomizer .bottom {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .randomizer .range {
    width: 70%;
  }
  .randomizer .bottom {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .randomizer .range {
    width: 80%;
  }
  .randomizer .bottom {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .randomizer {
    padding: 3rem 0;
  }
  .randomizer .range {
    width: 100%;
  }
  .randomizer .button button {
    font-size: 1.8rem;
    margin: 20px;
    padding: 5px 10px;
  }
  .randomizer .bottom div {
    font-size: 6rem;
    width: 7rem;
    height: 7rem;
  }
}
@media screen and (max-width: 500px) {
  .randomizer .range div label {
    font-size: 1.5rem;
  }
  .randomizer .range div input {
    font-size: 1.5rem;
    width: 5rem;
    padding: 3px 10px;
    text-align: center;
  }
  .randomizer .button button {
    font-size: 1.1rem;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 450px) {
  .randomizer .bottom {
    margin: 0;
  }
  .randomizer .bottom div {
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
  }
}
