.simon {
  background-color: #011f3f;
  height: 100vh;
  display: flex;
  color: #fff;
}
.simon .first,
.simon .last {
  width: 10%;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 2rem;
  font-family: "Press Start 2P", cursive;
}
.simon .playArea {
  margin-top: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}
.simon .playArea .start {
  background-color: #008000;
  width: 60%;
  font-size: 2rem;
  padding: 5px 30px;
  font-family: "Press Start 2P", cursive;
  border-radius: 5px;
}
.simon .playArea .start:hover {
  cursor: pointer;
}
.simon .playArea .wrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  height: 55vh;
}
.simon .playArea .wrapper .info {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.simon .playArea .wrapper .info h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  font-size: 2.5rem;
  line-height: 5rem;
  margin: 2.5rem;
}
.simon .playArea .wrapper .info .timer {
  font-size: 60px;
  color: red;
}
.simon .playArea .wrapper .playDiv {
  width: 60%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
.simon .playArea .wrapper .playDiv div {
  border: solid black 10px;
  border-radius: 30px;
  cursor: pointer;
}
.simon .playArea .wrapper .playDiv .item1 {
  background-color: #008000;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.simon .playArea .wrapper .playDiv .item2 {
  background-color: #ff0000;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.simon .playArea .wrapper .playDiv .item3 {
  background-color: #ffff00;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.simon .playArea .wrapper .playDiv .item4 {
  background-color: #0000ff;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
.simon .playArea .wrapper .playDiv.playerTurn {
  background-color: rgb(92, 85, 85);
}
.simon .playArea .wrapper .playDiv.computerTurn {
  background-color: rgb(51, 46, 46);
}

.pressed {
  box-shadow: 0 0 30px white;
  background-color: grey;
}

.wrong {
  background-color: red;
}

.notVisible {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .simon .playArea .start {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .simon .playArea {
    justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .simon {
    flex-direction: column;
    padding-top: 4rem;
  }
  .simon .first,
  .simon .last {
    width: 100%;
    writing-mode: horizontal-tb;
    font-size: 1.2rem;
  }
  .simon .playArea {
    margin: 0;
    padding: 30px 0;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .simon .playArea .start {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 650px) {
  .simon .first,
  .simon .last {
    font-size: 1rem;
  }
  .simon .playArea .start {
    font-size: 1.5rem;
  }
  .simon .playArea .wrapper {
    flex-direction: column;
    height: 60vh;
  }
  .simon .playArea .wrapper .info {
    width: 100%;
    flex-direction: row;
    margin: 20px 0;
  }
  .simon .playArea .wrapper .info h1 {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    font-size: 2rem;
    line-height: normal;
    margin: 0;
  }
  .simon .playArea .wrapper .info h1 span {
    margin: 0;
    margin-left: 50px;
  }
  .simon .playArea .wrapper .info .timer {
    text-align: center;
    width: 30%;
    font-size: 40px;
    color: red;
  }
  .simon .playArea .wrapper .playDiv {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .simon .playArea .start {
    font-size: 1.2rem;
  }
  .simon .playArea .wrapper .info h1 {
    font-size: 1.8rem;
  }
  .simon .playArea .wrapper .info .timer {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .simon .playArea .start {
    font-size: 1rem;
  }
}
