.burger_menu {
	display: inline-block;
	flex-direction: column;
	cursor: pointer;
}

.burger_menu .bar1,
.burger_menu .bar2,
.burger_menu .bar3 {
	width: 35px;
	height: 5px;
	background-color: red;
	margin: 6px 0;
	transition: 0.4s;
}
.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}
@media screen and (max-width: 600px) {
	.burger_menu .bar1,
	.burger_menu .bar2,
	.burger_menu .bar3 {
		width: 30px;
		margin: 5px 0;
		height: 4px;
	}
	.change .bar1 {
		transform: translate(0, 10px) rotate(-45deg);
	}

	.change .bar3 {
		transform: translate(0, -9px) rotate(45deg);
	}
}
