.main {
	height: 100vh;
	position: relative;
	.nav_container {
		border-bottom: solid black 2px;
		width: 100%;
		position: absolute;
		top: 0;
		.mini_app_nav {
			width: 100%;
			.head {
				display: none;
			}
			ul {
				font-weight: 600;
				a {
					color: red;
					font-size: 1.3rem;
				}
			}
		}
		.miniApp_burger {
			position: absolute;
			right: 2rem;
			top: 0.5rem;
		}
	}
	.output {
		align-content: center;
		height: 100%;
	}
}

@media screen and (max-width: 600px) {
	.main {
		.nav_container {
			.mini_app_nav {
				align-items: flex-start;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.main {
		.nav_container {
			.mini_app_nav {
				ul {
					li {
						a {
							font-size: 1.1rem;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.main {
		.nav_container {
			.mini_app_nav {
				ul {
					li {
						padding-right: 5px;
					}
				}
			}
			.miniApp_burger {
				right: 1rem;
			}
		}
	}
}
