.nav {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.head {
		font-family: var(--satisfy);
		h1 {
			word-wrap: normal;
			text-align: center;
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		list-style: none;

		li {
			padding: 10px 15px;
			a {
				text-decoration: none;
			}
			a:hover,
			a.active {
				text-decoration: underline;
			}
		}
	}
}
