.right {
	// border: solid red 1px;
	margin-bottom: 1rem;
}
@media screen and (max-width: 1000px) {
	.right {
		margin: 5rem 0 4rem 0;
	}
}
/* .right {
	.container {
		border-radius: 20px;
		margin: 2rem;
		display: flex;
		flex-direction: column;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
		.top {
			display: flex;
			align-items: center;
			justify-content: center;

			.arrow {
				font-size: 2.5rem;
				// margin: 5px;
				color: rgb(150, 149, 149);
				width: 7%;
			}
			.top_middle {
				width: 86%;
				height: 12rem;
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				img {
					box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
				}
				.leftSide {
					width: 25%;
					height: 50%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.middle {
					margin: 10px;
					width: 40%;
					height: 75%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.rightSide {
					width: 25%;
					height: 50%;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.details {
			padding: 1rem 2rem 1rem 10%;
			div {
				display: flex;
				align-items: center;

				h2 {
					margin-right: 3rem;
				}

				input {
					border: solid 1px rgb(3, 246, 3);
					accent-color: rgb(3, 246, 3);
				}
				input:checked {
					border: solid 1px rgb(3, 246, 3);
				}
				a {
					text-decoration: none;
				}
			}
		}
	}
}
@media (hover: hover) and (pointer: fine) {
	.arrow:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 1000px) {
	.right {
		margin: 5rem 0 4rem 0;
	}
}
@media screen and (max-width: 800px) {
	.right {
		.container {
			margin: 2rem 1rem;
			.top {
				padding: 0;
				.top_middle {
					position: relative;
					.leftSide {
						position: absolute;
						z-index: 5;
						left: 5%;
					}
					.middle {
						position: relative;
						z-index: 10;
						width: 45%;
					}
					.rightSide {
						right: 5%;
						position: absolute;
						z-index: 5;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.right {
		.container {
			.top {
				.top_middle {
					.middle {
						width: 55%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.right {
		.container {
			.top {
				.top_middle {
					height: 10rem;
				}
			}
		}
	}
}
 */
