.scroll_main {
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;

	.insideMain {
		display: flex;
		align-items: center;
		min-height: 4rem;
		header {
			display: flex;
			align-items: center;
			position: absolute;
			left: 2rem;
			img {
				border-radius: 50%;
				width: 3rem;
				height: 3rem;
				margin-right: 20px;
			}
		}
		h1 {
			width: 100%;
			text-align: center;
			font-size: 2rem;
		}
		.magic_nav {
			position: absolute;
			right: 2rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.scroll_nav {
				flex-direction: row;
				flex-wrap: nowrap;
				width: 100%;
				max-height: 3rem;
				div {
					display: none;
				}
				ul {
					padding: 0;
					font-size: 1.4rem;
					font-weight: 600;
				}
			}
			.view {
				width: 500px;
				position: absolute;
				right: 1rem;
			}
			.display {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.scroll_main {
		.insideMain {
			.magic_nav {
				.view {
					width: 450px;
					.scroll_nav {
						ul {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.scroll_main {
		.insideMain {
			.magic_nav {
				.view {
					top: 3rem;
					width: 200px;
					height: 11rem;
					right: -3rem;
					border-radius: 0 0 0 3rem;
					.scroll_nav {
						ul {
							position: absolute;
							width: 200px;
							height: 11rem;
							top: 0;
							font-size: 1.2rem;
							flex-direction: column;
							align-items: flex-start;
							border-radius: 0 0 0 3rem;
							li {
								width: 200px;
								padding: 8px 8px 8px 50px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.scroll_main {
		.insideMain {
			min-height: 3rem;
			header {
				left: 1rem;
				img {
					width: 2rem;
					height: 2rem;
				}
			}
			h1 {
				font-size: 1.5rem;
			}
			.magic_nav {
				right: 1rem;
				.view {
					top: 2rem;
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.scroll_main {
		.insideMain {
			header {
				h2 {
					display: none;
				}
			}
			.magic_nav {
				.view {
					border-radius: 0 0 0 2rem;
					.scroll_nav {
						ul {
							border-radius: 0 0 0 2rem;
						}
					}
				}
			}
		}
	}
}
