.slider_container {
	width: 120%;
	height: 100%;
	display: flex;
	.slider_content {
		width: 20%;
		height: inherit;
		img {
			width: 100%;
			height: 100%;
			img:hover {
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.slider_container {
		width: 30vh;
		height: 80vh;
		background-color: rgba(184, 180, 176, 0.598);
		flex-direction: column;
		overflow-y: scroll;
		transition: height 0.5s ease-in;
		.slider_content {
			width: 100%;
			img {
				margin: 5px 0;
				width: 100%;
				height: 8rem;
			}
		}
	}
}
